<html>
    <head> 
        <title>Change information</title>
		<link rel="stylesheet" href="/style/w3.css" type="text/css" />
    </head>
    <body>
		<div class="w3-container w3-teal">
			<h1>Restaurant information</h1>
		</div>
		<div class="w3-col">
			<form class="w3-container w3-card-4 w3-padding-16 w3-white" action='/changeinfo' method='post' encType='multipart/form-data'>
				<div class="w3-group">      
					<label class="w3-label">Name</label>
					<input class="w3-input" type='text' name='name' value=<%= r.name%> required>
				</div>
				<input type='hidden' name='id' value=<%= r._id %>>
				<div class="w3-group">      
					<label class="w3-label">Borough</label>
					<input class="w3-input" type='text' name='borough' value=<%= r.borough%>>
				</div>
				<div class="w3-group">      
					<label class="w3-label">Cuisine</label>
					<input class="w3-input" type='text' name='cuisine' value=<%= r.cuisine%>>
				</div>
				<div class="w3-group">      
					<label class="w3-label">Street</label>
					<input class="w3-input" type='text' name='street' value=<%= r.address.street%>>
				</div>
				<div class="w3-group">      
				<label class="w3-label">Building</label>
				<input class="w3-input" type='text' name='building' value=<%= r.address.building%>>
				</div>
				<div class="w3-group">      
					<label class="w3-label">Zipcode</label>
					<input class="w3-input" type='text' name='zipcode' value=<%= r.address.zipcode%>>
				</div>
				<div class="w3-group">      
					<label class="w3-label">GPS Lat</label>
					<input class="w3-input" type='text' name='lat' value=<%=r.address.gps[0] %>>
					<label class="w3-label">GPS Lon</label>
					<input class="w3-input" type='text' name='lon' value=<%= r.address.gps[1] %>>
				</div>
				<div class="w3-group">      
					<label class="w3-label">Photo</label>
					<input class="w3-input" type="file" name="rphoto">
				</div>
				<input type='submit'  class="w3-btn w3-right w3-theme" value='Change' />
			</form>
		</div>
    </body>
</html>
