<html>
    <head> 
        <title><%= name %></title>
		<link rel="stylesheet" type="text/css" href="layout.css">
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&key=AIzaSyAig4gbOhqVl-HXa-4v0DlQrfMXZn5YslA"></script>
        <script type="text/javascript">
            var loadMap = function() 
            {
				var myLatLng = {lat: <%=lat%>, lng: <%=lon%>};
                var map = new google.maps.Map(document.getElementById("map"),{
				      zoom: <%=zoom%>,
				      center: myLatLng
				}); 
				var map = new google.maps.Marker({
					position: myLatLng,
					map: map,
				});
            };
            window.onload= loadMap;
        </script>
    </head>
    <body>
	 	<header><h1><%= name %></h1></header>
			<aside>
        	<div id="map" style="width:500px;height:500px;">
			</aside>
    </body>
</html>
